<div class="container">
  <h1>Your shortened URL</h1>



  <input type="text" size="25" value= <%= "localhost:9393/#{@extension}" %> >



<h1> Use this URL to check your analytics <h2>

  <input type="text" size="25" value= <%= "localhost:9393/analytics/#{@extension}" %> >
</div>
