<div class="container">
  <h1>Welcome to Bitly!</h1>

 Enter your URL:
<form action = "/urls" method = "post">
  <input type="text" size="25" name="long_url">
  <input type="submit" value = "shorten!">
</form>


</div>
